vendor/
bin/
.idea/
*.out
*.log
*.tmp
.DS_STORE
.DS_Store

# config file
.env
config.yaml
launch.json
.vscode

# executables & libs
{{ cookiecutter.app_name }}
*.exe
*.so
*.dll
*.test
*.dylib

# decrypted secret file
*.dec
