# App configuration
APP_HOST=0.0.0.0
APP_PORT=8080
APP_NAME={{ cookiecutter.app_name }}
APP_SECRET=secret

# PostgreSQL configuration
POSTGRE_IS_ENABLED=false
POSTGRE_HOST=your_db_host
POSTGRE_PORT=5432
POSTGRE_DB_NAME={{ cookiecutter.app_name }}
POSTGRE_USERNAME=your_username
POSTGRE_PASSWORD=your_password
POSTGRE_POOL_SIZE=5

# Mysql configuration
MYSQL_IS_ENABLED=false
MYSQL_HOST=your_db_host
MYSQL_PORT=3306
MYSQL_DB_NAME={{ cookiecutter.app_name }}
MYSQL_USERNAME=your_username
MYSQL_PASSWORD=your_password
MYSQL_MAX_OPEN_CONNECTION=280 # maximum connection can be open
MYSQL_MAX_IDLE_CONNECTION=5 # maximum idle connection
MYSQL_CONNECTION_MAX_LIFETIME=0s # maximum duration connection lifetime max
MYSQL_ADDITIONAL_PARAMS="charset=utf8&parseTime=True&loc=Asia%2fJakarta&time_zone=%27%2B07%3A00%27"

# Redis configuration
CACHE_IS_ENABLED=false
CACHE_HOST=your_cache_host
CACHE_PORT=6379
CACHE_NAMESPACE=0
CACHE_PASSWORD=
CACHE_DIAL_CONNECT_TIMEOUT=5s
CACHE_READ_TIMEOUT=5s
CACHE_WRITE_TIMEOUT=5s
CACHE_IDLE_TIMEOUT=10s
CACHE_CONNECTION_MAX_LIFETIME=5m
CACHE_MAX_IDLE_CONNECTION=5
CACHE_MAX_ACTIVE_CONNECTION=1000

# Telegraf configuration
TELEGRAF_ENABLE=false
TELEGRAF_HOST=localhost
TELEGRAF_PORT=8125

# Error response configuration
RESPONSE_CODE_EN_101001=Database connection error
RESPONSE_CODE_EN_101002=Cache connection error

RESPONSE_CODE_ID_101001=Error koneksi ke Database
RESPONSE_CODE_ID_101002=Error koneksi ke Cache server
